<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="px-8 h-screen w-full bg-gray-300 flex justify-center items-center">
    <% if(!message) { %>
    <form
      method="post"
      action="/api/v1/users/updatepassword"
      class="w-full h-full flex justify-center items-center flex-col gap-4"
    >
      <input
        hidden
        type="text"
        name="formId"
        id="formId"
        value="<%= formId  %>"
      />
      <div class="w-[80%] sm:w-[350px]">
        <label
          for="newPassword"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >New Password</label
        >
        <input
          type="text"
          id="newPassword"
          name="newPassword"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Enter your new password"
          required
        />
      </div>
      <div class="w-[80%] sm:w-[350px]">
        <label
          for="newReTypePassword"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Confirm Password</label
        >
        <input
          type="text"
          id="newReTypePassword"
          name="newReTypePassword"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Enter your password again"
          required
        />
        <p id="inputErrorText" class="hidden pt-1 text-red-500 text-sm">
          Password is not matching
        </p>
      </div>
      <div class="w-[80%] sm:w-[350px]">
        <button
          id = "resetPasswordBtn"
          type="submit"
          disabled
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Change Password
        </button>
      </div>
    </form>
    <% } else { %>
    <h1 class="text-2xl font-medium text-gray-600 text-center"><%= message %></h1>
    <% } %>

    <script>
      const newPassword = document.getElementById("newPassword");
      const confirmPassword = document.getElementById("newReTypePassword");
      const inputErrorText = document.getElementById("inputErrorText");
      const resetPasswordBtn = document.getElementById("resetPasswordBtn");

      const isBtnDisiable = (isDisabled) => {
         if(isDisabled){
            resetPasswordBtn.setAttribute("disabled", true);
            resetPasswordBtn.classList.add("bg-gray-700");
            resetPasswordBtn.classList.remove("hover:bg-blue-800");
            return;
         }

         resetPasswordBtn.classList.remove("bg-gray-700");
         resetPasswordBtn.removeAttribute("disabled")
         resetPasswordBtn.classList.add("bg-blue-700");
         resetPasswordBtn.classList.add("hover:bg-blue-800");
      }

      confirmPassword.addEventListener("input", (e) => {
        if(e.target.value != newPassword.value){
            isBtnDisiable(true);
            inputErrorText.classList.remove("hidden");
            inputErrorText.classList.add("block");
        }else{
            isBtnDisiable(false);
            inputErrorText.classList.remove("block");
            inputErrorText.classList.add("hidden");
        }
      });

    </script>
  </body>
</html>
